* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav {
    background: #150e77;
    padding: 1.8rem;
    text-align: center;
}

.nav__item--titulo {
    color: white;
    font-weight: bold;
    font-size: 3rem;


}

.fecha {
    background-color: white;
    color: black;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
}

.container {
    position: relative;
    margin: 0.6rem;

}

.titulo_principal {
    color: rgb(248, 187, 5);
    -webkit-text-stroke: 2px black;
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 18px;
}
.pagina-titulo{
    float:right;
    background:rgb(69, 69, 69);
    color: white;
    position: absolute;
    top: 484px;
    left: 1000px;
    padding: 15px;

}

.imagenPrincipal {
    width: 100%;
}

.noticias p{
    margin: 0.5rem;
    text-align: left;
    font-size: 1.5rem;

}
.noticias h2{
    margin: 10px;
    text-align: center;
    font-size: 2rem;
}
.pagina{
    float:right;
    background:rgb(69, 69, 69);
    position: absolute;
    top: 126px;
    left: 286px;
    padding: 1rem;

   
}

.noticia1 {
    background: red;
    color: white;
    width:  22.8rem;
    height: 12.5rem;
    position: absolute;
    top: 40.2rem;
    left: 0px;
}

.noticia2 {
    background: red;
    color: white;
    width:  22.8rem;
    height: 12.5rem;
    position: absolute;
    top: 40.2rem;
    left: 366px;


}

.noticia3 {
    background: red;
    color: white;
    width:  22.8rem;
    height: 12.5rem;
    position: absolute;
    top: 40.2rem;
    left: 732px;


}

.noticia4 {
    background: red;
    color: white;
    width: 22.8rem;
    height: 12.5rem;
    position: absolute;
    top: 40.2rem;
    left: 1098px;

}

